.component__header {
  background: #fff;
  border-bottom: 6px solid #005bbb;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 4px #002f56;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.component__header > .container > .expansion.show_expansion {
  display: block;
}

.component__header > .container > .wrapper {
  position: relative;
  z-index: 200;
}

.component__header > .container > .wrapper > .branding {
  align-items: center;
  display: flex;
  height: 100%;
}

.component__header > .container > .wrapper > .branding > a {
  position: absolute;
}

.component__header > .container > .wrapper > .branding > a > img.logo {
  margin-top: 20px;
  height: 60px;
  width: auto;
}

.component__header > .container > .wrapper > .navigation {
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.component__header > .container > .wrapper > .navigation > .menu_toggle {
  color: #00a69c;
  cursor: pointer;
  display: inline-block;
  margin-right: 40px;
}

.component__header > .container > .wrapper > .navigation ul.links {
  display: inline-block;
  margin: 0 20px 0 0;
}

@media (max-width: 930px) {
  .component__header > .container > .wrapper > .navigation ul.links {
    display: none;
  }
}

.component__header > .container > .wrapper > .navigation ul.links > li {
  display: block;
  margin-bottom: 0;
}

.component__header > .container > .wrapper > .navigation ul.links > li.links_width {
  height: 1px;
  visibility: hidden;
}

.component__header > .container > .wrapper > .navigation ul.links > li > a {
  color: #00a69c;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
}

.component__header > .container > .expansion {
  background-color: #002f56;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fff;
  display: none;
  top: 50px;
  padding: 10px 0 20px 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.component__header > .container > .expansion > .menu {
  display: inline-flex;
  padding-right: 64px;
  position: relative;
  float: right;
}

.component__header > .container > .expansion > .menu ul.links {
  display: inline-block;
  margin: 0 20px 0 0;
}

@media (max-width: 930px) {
  .component__header > .container > .expansion > .menu ul.links {
    display: none;
  }
}

.component__header > .container > .expansion > .menu ul.links > li {
  display: block;
  font-size: 18px;
  margin-bottom: 0;
}

.component__header > .container > .expansion > .menu ul.links > li.links_width {
  font-weight: 800;
  height: 1px;
  visibility: hidden;
}

.component__header > .container > .expansion > .menu ul.links > li.indent {
  margin-left: 20px;
}

.component__header > .container > .expansion > .menu ul.links > li > a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.component__header > .container > .expansion > .menu ul.links > li > a.title {
  font-weight: 800;
}

.component__header .mobile_nav {
  background: rgba(255, 255, 255, 0.99);
  height: 100vh;
  display: none;
  z-index: 300;
}

@media (max-width: 930px) {
  .component__header .mobile_nav {
    display: none;
    left: 0;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .component__header .mobile_nav.show_nav {
    display: block;
  }
  .component__header .mobile_nav > .menu_toggle {
    color: #00a69c;
    position: absolute;
    right: 40px;
    top: 40px;
  }
  .component__header .mobile_nav > ul.links {
    list-style: none;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
  }
  .component__header .mobile_nav > ul.links > li {
    margin-bottom: 20px;
  }
  .component__header .mobile_nav > ul.links > li > a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=header.css.map */